amqp==5.2.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
crispy-bootstrap4==2024.1
cryptography==43.0.0
cssselect2==0.7.0
diff-match-patch==20230430
dj-database-url==2.2.0
Django==5.0.7
django-bootstrap4==24.3
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-import-export==4.1.1
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.5.0
gunicorn==22.0.0
html5lib==1.1
idna==3.7
kombu==5.4.0
lxml==5.2.2
oscrypto==1.3.0
packaging==24.1
pillow==10.4.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.22
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
pypdf==4.3.1
pypng==0.20220715.0
python-bidi==0.5.1
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.1
qrcode==7.4.2
reportlab==4.2.2
requests==2.32.3
setuptools==69.5.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
svglib==1.5.1
tablib==3.5.0
tinycss2==1.3.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uritools==4.0.3
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.43.0
whitenoise==6.7.0
xhtml2pdf==0.2.16