{% extends 'main_estudante.html' %}

{% load static %}
{% static "images" as base_img_url %}
        

{% block content %}
<div class="col-sm-12 card">
	<div class="content-area">
				<!-- <div class="row pb-5"> -->
					<div class="col-md-12 col-lg-12">
					            <center>
										 <h3><br>Bemvindo &agrave; P&aacute;gina <br><b><u>Sistema Informa&ccedil;&atilde;o ESKOLA</u></b><br><br></h3><hr>
								<div class="row">
				           			<div class="col-sm-3" style="background:#fff;border-radius : 10px;border-left: 4px solid red">
				                       <div class="card">
				                          <div class="card-body">
				                            <div>
				                                <div class="text-left" style="padding :0px;">
				                                    <b float="left" style="color :red">Total Estudante :</b> 
				                                    <h3 float="left" style="color :black">{{tot_est}}</h3> 
				                                </div>
				                                
				                            </div>
				                          </div>
				                       </div>
				                   </div>
				                   <div class="col-sm-3" style="background:#fff;border-radius : 10px;border-left: 4px solid red">
				                       <div class="card">
				                          <div class="card-body">
				                            <div>
				                                <div class="text-left" style="padding :0px;">
				                                    <b float="left" style="color :red">Total Professor :</b> 
				                                    <h3 float="left" style="color :black">{{tot_prof}}</h3> 
				                                </div>
				                               
				                            </div>
				                          </div>
				                       </div>
				                   </div>
				                   <div class="col-sm-3" style="background:#fff;border-radius : 10px;border-left: 4px solid red">
				                       <div class="card">
				                          <div class="card-body">
				                            <div>
				                                <div class="text-left" style="padding :0px;">
				                                    <b float="left" style="color :red">koko</b> 
				                                    <h3 float="left" style="color :black">koko</h3> 
				                                </div>
				                               
				                            </div>
				                          </div>
				                       </div>
				                   </div>
				                    <div class="col-sm-3" style="background:#fff;border-radius : 10px;border-left: 4px solid red">
				                       <div class="card">
				                          <div class="card-body">
				                            <div>
				                                <div class="text-left" style="padding :0px;">
				                                    <b float="left" style="color :red">koko</b> 
				                                    <h3 float="left" style="color :black">koko</h3> 
				                                </div>
				                               
				                            </div>
				                          </div>
				                       </div>
				                   </div>
								</div>		 
           						</center>
							
					</div>
				<!-- </div> -->
				<hr>
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<center>Grafiku Seksu</center>
							</div>
							<div class="card-body">
								<canvas id="pie-chart"></canvas>
							</div>
						</div>
					</div>
				<br>
				<br>
					
					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<center>Grafiku Habilitasaun Literaria</center>
							</div>
							<div class="card-body">
								<div id="hab_literaria"></div>
							</div>
						</div>
					</div>
					
				</div>
				<br>
	</div>
</div>	

<script src="{% static '/js/chart/highcharts.js' %}"></script>
<script src="{% static '/js/chart/highcharts-3d.js' %}"></script>
<script src="{% static '/js/chart/jquery.min.js' %}"></script>
<script src="{% static '/js/chart/Chart.min.js' %}"></script>

<script type="text/javascript">
	var config = {
		type: 'pie',
		data : {
			datasets: [{
				data: {{data|safe}},
				backgroundColor:['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'],
				label: 'Population'
			}],
			labels: {{labels|safe}}
		},
		options:{
			responsive: true
		}
	};

	window.onload = function(){
		var ctx = document.getElementById('pie-chart').getContext('2d');
		window.myPie = new Chart(ctx, config);
	};
</script>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in data_prof %}'{{item.habilitasaun}}',{% endfor %}],
        datasets: [{
            label: 'Hab. Literaria',
            data: [{% for item2 in data_prof %}'{{item2.count}}',{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 0
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes: [{
            gridLines: {
                offsetGridLines: true
            }
        }]
        }
    }
});
</script>

<script language="JavaScript">
document.addEventListener('DOMContentLoaded',() => {
	Highcharts.chart('hab_literaria',{
		chart:{
			type: 'column'
		},
		title:{
			text:'Grafiku Hab. Literaria'
		},
		yAxis: {
			title: {
				text:'Total Professor'
			}
		},
		xAxis: {
			categories: ['']
		},
		series: [
		{% for item2 in data_prof %}
		{
			name:'{{item2.habilitasaun}}',
			data:[{{item2.count}},],
		},
		{% endfor %}
		// ,
		// {
		// 	name:'Perira',
		// 	data:[6,7]
		// }
		]
	});
});
</script>



{% endblock %}
